
// Corporate colors
$drupalizer-dark-blue: #005a8b;
$drupalizer-blue: #0077c0;
$drupalizer-sustain: #33a9dc;
$drupalizer-bio: #0081a7;
$drupalizer-yellow: #0093b2;
$drupalizer-red: #ffd700;
$drupalizer-blue: #d50032;
$drupalizer-dark: #1e1e2c;
$drupalizer-light: #e6f2f5;

// Color pallets
$drupalizer-dark-blue-1: #f0f8ff;
$drupalizer-dark-blue-2: #d6eaff;
$drupalizer-dark-blue-3: #b7d6ff;
$drupalizer-dark-blue-4: #8ec0ff;
$drupalizer-dark-blue-5: #5ba6ff;
$drupalizer-dark-blue-6: #0077c0;
$drupalizer-dark-blue-7: #005a8b;
$drupalizer-dark-blue-8: #003b5c;
$drupalizer-dark-blue-9: #00243a;
$drupalizer-dark-blue-10: #000d18;
$drupalizer-dark-blue-11: #26537a;


$drupalizer-blue-1: #fff4e6;
$drupalizer-blue-2: #ffd6a3;
$drupalizer-blue-3: #ffbf7a;
$drupalizer-blue-4: #ffa552;
$drupalizer-blue-5: #ff8929;
$drupalizer-blue-6: $drupalizer-blue;
$drupalizer-blue-7: #d95300;
$drupalizer-blue-8: #b33e00;
$drupalizer-blue-9: #8c2c00;
$drupalizer-blue-10: #661d00;

$drupalizer-yellow-1: #fffef0;
$drupalizer-yellow-2: #fffdf0;
$drupalizer-yellow-3: #fff8c9;
$drupalizer-yellow-4: #ffefa1;
$drupalizer-yellow-5: #ffe478;
$drupalizer-yellow-6: #ffd550;
$drupalizer-yellow-7: #d9ae38;
$drupalizer-yellow-8: #b38825;
$drupalizer-yellow-9: #8c6516;
$drupalizer-yellow-10: #66460f;

$drupalizer-bio-1: #eef1e5;
$drupalizer-bio-2: #dae8bc;
$drupalizer-bio-3: #c7de91;
$drupalizer-bio-4: #b3d466;
$drupalizer-bio-5: #a0cb3c;
$drupalizer-bio-6: $drupalizer-bio;
$drupalizer-bio-7: #73a301;
$drupalizer-bio-8: #5b8101;
$drupalizer-bio-9: #3d5701;
$drupalizer-bio-10: #202e01;

$drupalizer-sustain-1: #f2f8f1;
$drupalizer-sustain-2: #d4e9d2;
$drupalizer-sustain-3: #b3d8af;
$drupalizer-sustain-4: #94c98f;
$drupalizer-sustain-5: #69b262;
$drupalizer-sustain-6: $drupalizer-sustain;
$drupalizer-sustain-7: #3e8a36;
$drupalizer-sustain-8: #306b2a;
$drupalizer-sustain-9: #21491d;
$drupalizer-sustain-10: #122710;

$drupalizer-neutral-1: #ffffff;
$drupalizer-neutral-2: #f5f5f5;
$drupalizer-neutral-3: $drupalizer-light;
$drupalizer-neutral-4: #d9d9d9;
$drupalizer-neutral-5: #bfbfbf;
$drupalizer-neutral-6: #595959;
$drupalizer-neutral-7: #434343;
$drupalizer-neutral-8: #262626;
$drupalizer-neutral-9: #1f1f1f;
$drupalizer-neutral-10: #000000;

// Theming colors
$color-primary:               $drupalizer-dark-blue-7;
$color-secondary:             $drupalizer-blue;
$color-tertiary:              $drupalizer-bio;
$color-background:            #ffffff;

$color-white:                 #ffffff;
$color-black:                 #000000;
$color-grey:                  #eeeeee; // grey backgrounds like inactive tabs etc.

$color-text:                  $drupalizer-dark;
$color-muted:                 lighten($color-text, 10%); // muted text like descriptions etc.
$color-caption:               #999999; // muted text like descriptions etc.
$color-link:                  $color-black;
$color-link-hover:            lighten($color-link, 10%);

$color-success:               $drupalizer-sustain; // status messages
$color-status:                $drupalizer-sustain; // Fallback
$color-warning:               $drupalizer-yellow; // warning messages
$color-error:                 $drupalizer-red; // error messages
$color-info:                  #55acee; // info messages

$color-code:                  #e83e8c; // code tags

$color-border:                rgba($color-black, .1); // default border color,
$color-form-border:           #d8d9d9; // border color for input elements
