// Define your color themes here.
$background-themes: (
  //'green_beach': (
  //  'main': #02aab0 ,
  //  'background': linear-gradient(270deg, #02aab0 0%, #00cdac 100%),
  //  'text': #ffffff,
  //  'highlight': rgba(255, 255, 255, .6),
  //  'default_border': #ffffff,
  //  'default_component': 'light',
  //),
  //'light_pink': (
  //  'main': linear-gradient(90deg, #ffffff 50%, #fc4f7a 50%),
  //  'background': #ffffff,
  //  'text': #000000,
  //  'highlight': #fc4f7a,
  //  'default_border': 'pink',
  //  'default_component': 'pink',
  //),
  //'light_green': (
  //  'radio': linear-gradient(90deg, #ffffff 50%, #24a3a3 50%),
  //  'background': #ffffff,
  //  'text': '#000000',
  //  'highlight': #24a3a3,
  //  'default_border': #ffffff,
  //  'default_component': 'green_beach',
  //),
  //'light_blue': (
  //  'main': linear-gradient(90deg, #ffffff 50%, #0071f0 50%),
  //  'background': #ffffff,
  //  'text': #000000,
  //  'highlight': #0071f0,
  //  'default_border': #ffffff,
  //  'default_component': 'blue',
  //),
  //'dark_lime': (
  //  'main': linear-gradient(90deg, #000000 50%, #d1ff19 50%),
  //  'background': #000000,
  //  'text': #ffffff,
  //  'highlight': #d1ff19,
  //  'default_border': white,
  //  'default_component': 'lime',
  //),
  //'pink': (
  //  'main': #fc4f7a,
  //  'background': #fc4f7a,
  //  'text': #ffffff,
  //  'highlight': #d1ff19,
  //  'default_border': white,
  //  'default_component': 'lime',
  //),
  'green': (
    'main': $drupalizer-dark-blue,
    'background': $drupalizer-dark-blue,
    'text': $color-white,
    'highlight': $drupalizer-dark-blue,
    'default_border': transparent,
    'default_component': 'lime',
  ),
  'orange': (
    'main': $drupalizer-blue,
    'background': linear-gradient(to bottom, $drupalizer-red-5, $drupalizer-blue),
    'text': $color-white,
    'highlight': $drupalizer-blue,
    'default_border': transparent,
    'default_component': 'lime',
  ),
  'bio': (
    'main': $drupalizer-bio,
    'background': $drupalizer-bio,
    'text': $color-white,
    'highlight': $drupalizer-blue,
    'default_border': transparent,
    'default_component': 'lime',
  ),
  'yellow': (
    'main': $drupalizer-yellow,
    'background': linear-gradient(to bottom, $drupalizer-yellow-5, $drupalizer-yellow-6),
    'text': $color-black,
    'highlight': #d95300,
    'default_border': transparent,
    'default_component': 'lime',
  ),
  'gold': (
    'main': $drupalizer-yellow-7,
    'background': $drupalizer-yellow-7,
    'text': $color-white,
    'highlight': #d95300,
    'default_border': white,
    'default_component': 'lime',
  ),
  'grey': (
    'main': $drupalizer-neutral-2,
    'background': $drupalizer-neutral-2,
    'text': $color-text,
    'highlight': #d95300,
    'default_border': white,
    'default_component': 'lime',
  ),
);

$border-themes: (
  'text': (
    'border': $color-text,
  ),
  'light': (
    'border':#ffffff,
  ),
  //'green_beach': (
  //  'border':#02aab0,
  //),
  //'blue': (
  //  'border':#0071f0,
  //),
  //'lime': (
  //  'border':#00ff99,
  //),
  //'pink': (
  //  'border':#ff4d79,
  //),
  //'primary': (
  //  'border':#68a6ee,
  //),
  //'secondary': (
  //  'border':#8568ee,
  //),
  //'success': (
  //  'border':#0df274,
  //),
  //'warning': (
  //  'border':#f2a60d,
  //),
  //'error': (
  //  'border':#f20d14,
  //),
  //'info': (
  //  'border':#0d8ff2,
  //),
);

$component-themes: (
  'text': (
    'main': $color-text,
    'interactive': $color-text,
    'on-interactive-l': #{_contrast($color-text)},
    'background': transparent,
    'text': $color-text,
    'border': $color-text,
    'link': $color-text,
    'text-hover': $color-text,
    'link-hover': $color-text,
  ),
  //'light': (
  //  'main': #ffffff,
  //  'interactive': #ffffff,
  //  'on-interactive-l': #{_contrast(#ffffff)},
  //  'background': rgba(255, 255, 255, .6),
  //  'text': #24a3a3,
  //  'border':#ffffff,
  //  'link': $color-text,
  //  'text-hover': $color-text,
  //  'link-hover': $color-text,
  //),
  'green': (
    'main': $drupalizer-dark-blue,
    'interactive': $drupalizer-dark-blue,
    'on-interactive-l': $drupalizer-dark-blue,
    'background': $drupalizer-dark-blue,
    'text': $color-white,
    'border': $drupalizer-dark-blue-4,
    'link': $color-text,
    'text-hover': $color-text,
    'link-hover': $color-text,
  ),
  'orange': (
    'main': $drupalizer-blue,
    'interactive': $drupalizer-blue,
    'on-interactive-l': $drupalizer-blue,
    'background': $drupalizer-blue,
    'text': $color-white,
    'border': $drupalizer-red-4,
    'text-hover': $color-white,
    'link': $drupalizer-blue,
    'link-hover': $drupalizer-blue,
  ),
  'bio': (
    'main': $drupalizer-bio,
    'interactive': $drupalizer-bio,
    'on-interactive-l': $drupalizer-bio,
    'background': $drupalizer-bio,
    'text': $color-white,
    'border': transparent,
    'link': $color-white,
    'text-hover': $color-text,
    'link-hover': $color-text,
  ),
  'yellow': (
    'main': $drupalizer-yellow-6,
    'interactive': $drupalizer-yellow-6,
    'on-interactive-l': $drupalizer-yellow-7,
    'background': $drupalizer-yellow-6,
    'text': $color-black,
    'border': $drupalizer-yellow-4,
    'text-hover': $color-black,
    'link': $drupalizer-yellow-6,
    'link-hover': $drupalizer-yellow-1,
  ),
  'gold': (
    'main': $drupalizer-yellow,
    'interactive': $drupalizer-yellow,
    'on-interactive-l': $drupalizer-yellow,
    'background': $drupalizer-yellow,
    'text': $color-white,
    'border': $drupalizer-yellow-5,
    'link': $color-white,
    'text-hover': $color-white,
    'link-hover': $color-white,
  ),
  //'green_beach': (
  //  'main': #02aab0,
  //  'interactive': #02aab0,
  //  'on-interactive-l': #{_contrast(#02aab0)},
  //  'background': #ffffff,
  //  'text': #ffffff,
  //  'border':#02aab0,
  //  'link': $color-text,
  //  'text-hover': $color-text,
  //  'link-hover': $color-text,
  //),
  'grey': (
    'main': $drupalizer-neutral-2,
    'interactive': $drupalizer-neutral-2,
    'on-interactive-l': $drupalizer-neutral-2,
    'background': $drupalizer-neutral-2,
    'text': $color-black,
    'border': transparent,
    'link': $color-black,
    'text-hover': $color-black,
    'link-hover': $color-black,
  ),
  //'blue': (
  //  'main': #0071f0,
  //  'interactive': #0071f0,
  //  'on-interactive-l': #{_contrast(#0071f0)},
  //  'background': #ffffff,
  //  'text': $color-text,
  //  'border':#0071f0,
  //  'link': $color-text,
  //  'text-hover': $color-text,
  //  'link-hover': $color-text,
  //),
  'lime': (
    'main': #dbff4d,
    'interactive': #dbff4d,
    'on-interactive-l': #{_contrast(#dbff4d)},
    'background': transparent,
    'text': #ffffff,
    'border':#00ff99,
    'link': $color-text,
    'text-hover': #ffffff,
    'link-hover': #ffffff,
  ),
  //'pink': (
  //  'main': #ff4d79,
  //  'interactive': #ff4d79,
  //  'on-interactive-l': #{_contrast(#ff4d79)},
  //  'background': #ffffff,
  //  'text': #ffffff,
  //  'border':#ff4d79,
  //  'text-hover': #ffffff,
  //  'link': #ffffff,
  //  'link-hover': #ffffff,
  //),
  'primary': (
    'main': $drupalizer-dark-blue,
    'interactive': $drupalizer-dark-blue,
    'on-interactive-l': $drupalizer-dark-blue-7,
    'background': $drupalizer-dark-blue,
    'text': $color-white,
    'border': $drupalizer-dark-blue-4,
    'text-hover': $color-white,
    'link': $drupalizer-dark-blue,
    'link-hover': rgba($drupalizer-dark-blue, .08),
  ),
  'secondary': (
    'main': $drupalizer-blue,
    'interactive': $drupalizer-blue,
    'on-interactive-l': $drupalizer-blue-7,
    'background': $drupalizer-blue,
    'text': #ffffff,
    'border': $drupalizer-blue-4,
    'text-hover': $color-white,
    'link': $drupalizer-blue,
    'link-hover': rgba($drupalizer-blue, .08),
  ),
  'dark': (
    'main': $color-black,
    'interactive': $color-black,
    'on-interactive-l': $color-white,
    'background': $color-black,
    'text': $color-white,
    'border': $drupalizer-neutral-5,
    'link': $color-black,
    'text-hover': $color-black,
    'link-hover': rgba($color-black, .06),
  ),
  'black': (
    'main': $color-black,
    'interactive': $color-black,
    'on-interactive-l': $color-white,
    'background': $color-black,
    'text': $color-white,
    'border': $drupalizer-neutral-5,
    'link': $color-black,
    'text-hover': $color-black,
    'link-hover': rgba($color-black, .06),
  ),
  'success': (
    'main': #0df274,
    'interactive': #0df274,
    'on-interactive-l': #{_contrast(#0df274)},
    'background': #0df274,
    'text': #ffffff,
    'border':#0df274,
    'link': $color-text,
    'text-hover': $color-black,
    'link-hover': $drupalizer-neutral-2,
  ),
  'warning': (
    'main': #f2a60d,
    'interactive': #f2a60d,
    'on-interactive-l': #{_contrast(#f2a60d)},
    'background': #f2a60d,
    'text': #ffffff,
    'border':#f2a60d,
    'link': $color-text,
    'text-hover': $color-black,
    'link-hover': $drupalizer-neutral-2,
  ),
  'error': (
    'main': #f20d14,
    'interactive': #f20d14,
    'on-interactive-l': #{_contrast(#f20d14)},
    'background': #f20d14,
    'text': #ffffff,
    'border':#f20d14,
    'link': $color-text,
    'text-hover': $color-black,
    'link-hover': $drupalizer-neutral-2,
  ),
  'info': (
    'main': #0d8ff2,
    'interactive': #0d8ff2,
    'on-interactive-l': #{_contrast(#0d8ff2)},
    'background': #ffffff,
    'text': #ffffff,
    'border':#0d8ff2,
    'link': $color-text,
    'text-hover': $color-black,
    'link-hover': $drupalizer-neutral-2,
  ),
  'white': (
    'main': $color-white,
    'interactive': $color-white,
    'on-interactive-l': $color-black,
    'background': $color-white,
    'text': $color-black,
    'border': rgba($color-white, .5),
    'text-hover': $color-white,
    'link': $color-white,
    'link-hover': rgba($drupalizer-neutral-4, .08),
  ),
  'transparent-w-outline': (
    'main': $color-white,
    'interactive': transparent,
    'on-interactive-l': $color-black,
    'background': $color-white,
    'text': $color-black,
    'border': $drupalizer-neutral-5,
    'text-hover': $color-white,
    'link': $color-black,
    'link-hover': rgba($color-black, .06),
  ),
);

