// Branding
// --------------------------------------------------

.branding {

  &--header {
    line-height: 0;
  }

  &--footer {
    text-align: center;
    margin-block: .5rem;
  }

  &__link {
    display: inline-block;
  }

  &__logo {
    display: inline-block;

    svg {
      transition: all $default-transition;
      height: auto;

      .branding--header & {
        min-width: 4.7rem;
        max-width: 7rem;

        @include bp(md) {
          min-width: 9.375rem;
          max-width: 11rem;
        }
      }

      .branding--footer & {
        min-width: 10rem;
        max-width: 10rem;
      }
    }
  }

  &__slogan {
    display: none;
  }
}
