

// Messages
// --------------------------------------------------

.messages {
  padding: .5rem 1rem;
  border-left: solid 5px;
  border-color: $color-border;
  background-color: $color-grey;

  &.messages--status {
    border-color: $color-status;
    background-color: lighten($color-status, 20%);
  }

  &.messages--warning {
    border-color: $color-warning;
    background-color: lighten($color-warning, 20%);
  }

  &.messages--error {
    border-color: $color-error;
    background-color: lighten($color-error, 20%);
  }
}

.region--content-info {
  .messages {
    @extend .extendfull;
  }
}
