
// ==========================================================================
// Layout Builder Blocks
// ==========================================================================

// Spacing
// --------------------------------------------------------------------------

// General spacing between blocks inside a region.
.lb-block {
  & + .lb-block {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }
}

// General spacing between blocks inside a region, part 2.
// @todo: below block + block is needed cause not all layout builder blocks get lb-block classes at the moment?
.lb-section {
  .block + .block {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }
}

// Remove bottom margins of last direct child.
.lb-block {
  &__content {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}


// Equal blocks
// --------------------------------------------------------------------------

// @todo: Check if still relevant/used
.lb-block.equal {
  height: 100%;

  .lb-block__layout,
  .lb-block__content-wrapper,
  .lb-block__content {
    height: 100%;
  }
}

.lb-section {
  position: relative;
  margin: var(--drupalizer__block-spacing, var(--drupalizer-lb__block-spacing)) 0;

  &__header {
    margin-bottom: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }

  &__column-wrapper {
    position: relative;

    > div:not(.column) {
      //height: 100%; // Show/Hide empty columns
      position: relative;
    }
  }

  &__footer {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }

  &__header + &__footer {
    margin-top: 0;
  }

  .column {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: var(--drupalizer-lb__v-align);
  }

  // Banner display setting
  &.is-banner {
    border-radius: 1rem;
    overflow: hidden;

    // Remove gutter
    .flex-layout {
      margin-inline: 0;
      margin-bottom: 0;

      > * {
        padding: 0;
        margin-bottom: 0;
      }
    }

    &:not(.theme--transparent) {
      .column {
        padding: 0 !important;
      }
    }

    .block-inline-blocktext,
    .block-inline-blockbasic,
    .block-inline-blockcall-to-action {
      padding: clamp(1.5rem, 4vw, 3.75rem);
    }

    &.width--full {
      .block-inline-blocktext,
      .block-inline-blockbasic,
      .block-inline-blockcall-to-action {
        padding: clamp(1.5rem, 4vw, 5rem);
      }
    }

    .lb-block + .lb-block {
      padding-top: 0;
      margin-top: 0;
    }

    // Change border-radius
    .flex-layout,
    .lb-section__content-wrapper {
      border-radius: 1rem;
      overflow: hidden;
    }

    img {
      border-radius: 0 !important;
    }

    .c-image__image {
      border-radius: 0 !important;
    }

    // Full width
    &.width--full {
      > .container {
        padding-inline: 0;
      }

      .flex-layout,
      .lb-section__content-wrapper {
        border-radius: 0;
        overflow: initial;
      }

      [class*='flex-layout--two-col'],
      [class*='flex-layout--three-col'] {
        &,
        .block-inline-blocktext,
        .block-inline-blockbasic,
        .block-inline-blockcall-to-action {
          max-width: 1800px;
          margin-inline: auto;
        }

        .block-inline-blocktext,
        .block-inline-blockbasic,
        .block-inline-blockcall-to-action {
          width: 100%;
        }
      }
    }
  }

  &.align-c--left {
    text-align: left;

    .layout__region .lb-block__content,
    .lb-section__region .lb-block__content {
      text-align: left;
    }
  }

  &.align-c--center {
    .bt-title {
      width: fit-content;
      margin: 0 auto 2.5rem;
      text-align: center;

      @include bp(md) {
        margin: 0 auto;
      }
    }

    .layout__region .lb-block__content,
    .lb-section__region .lb-block__content {
      text-align: center;
    }
  }

  &.align-c--right {
    .bt-title {
      width: fit-content;
      text-align: right;
      margin-right: 0;
      margin-left: auto;
    }

    .layout__region .lb-block__content,
    .lb-section__region .lb-block__content {
      text-align: right;
    }
  }

  &.align-v--top {
    .layout__region {
      align-self: start;
    }
  }

  &.align-v--center {
    .layout__region {
      align-self: center;
    }
  }

  &.align-v--bottom {
    .layout__region {
      align-self: end;
    }
  }

  &.background-color {
    color: $color-white;
    border-radius: 15px;

    &--primary {
      background-color: $drupalizer-blue-7;
    }

    &--dark {
      background-color: $drupalizer-dark;
    }

    .layout__region {
      padding: 0;
      margin: 0;
    }
  }
}

.layout-builder__section.theme--yellow + .layout-builder__add-section + .layout-builder__section.theme--yellow,
.layout-builder__section.theme--grey + .layout-builder__add-section + .layout-builder__section.theme--grey {
  .theme--yellow,
  .theme--grey {
    &:before {
      //background-image: none;
      //top: 0;
    }
  }

  .theme--yellow:not(.last-in-group) {
    &:before {
      //background-color: $drupalizer-yellow-5;
    }
  }

  .theme--grey:not(.last-in-group) {
    &:before {
      //background-color: $drupalizer-neutral-2;
    }
  }
}

.layout-builder__section.theme--yellow + .layout-builder__add-section + .layout-builder__section.theme--yellow,
.layout-builder__section.theme--grey + .layout-builder__add-section + .layout-builder__section.theme--grey {
  .theme--yellow.last-in-group,
  .theme--grey.last-in-group {
    &::before {
      //background-color: transparent;
      //top: 0;
    }
  }

  .theme--yellow.last-in-group {
    &::before {
      //background-image: linear-gradient(to bottom, $drupalizer-yellow-5, $drupalizer-yellow-6 50%, transparent 50%);
    }
  }

  .theme--grey.last-in-group {
    &::before {
      //background-image: linear-gradient(to bottom, $drupalizer-neutral-2, $drupalizer-neutral-3 50%, transparent 50%);
    }
  }
}

.lb-section {
  .layout__region {
    &.padding--left {
      @include bp(md) {
        padding-left: calc(var(--drupalizer__gutter) * 2);
      }
    }

    &.padding--right {
      @include bp(md) {
        padding-right: calc(var(--drupalizer__gutter) * 2);
      }
    }
  }
}

// Vertical offset
.media-offset-v--outward {
  $shift-value: 2rem;

  margin-top: var(--drupalizer__block-spacing, var(--drupalizer-lb__block-spacing));

  [class*='flex-layout--three-col'] {
    padding-bottom: $shift-value;
  }

  &.layout--threecol-section--25-25-50 {
    .layout__region--first {
      transform: translateY($shift-value);
    }
  }

  &.layout--threecol-section--33-33-33 {
    .layout__region--second {
      transform: translateY($shift-value);
    }
  }

  &.layout--threecol-section--25-50-25 {
    .layout__region--first,
    .layout__region--third {
      transform: translateY($shift-value);
    }
  }

  &.layout--threecol-section--50-25-25 {
    .layout__region--third {
      transform: translateY($shift-value);
    }
  }

  // Reset module theming
  .lb-section__column-wrapper {
    .layout__region {
      .block-inline-blockimage:first-child {
        margin-top: 0;
      }
    }
  }
}

// Section title
.layout.lb-section {
  // Colors
  .section-blue-title {
    color: $drupalizer-dark-blue;
  }

  .section-black-title {
    color: #000000;
  }

  .section-white-title {
    color: #ffffff;
  }

  // Horizontal align.
  .section-center-title {
    text-align: center;
  }

  .section-left-title {
    text-align: left;
  }

  .section-right-title {
    text-align: right;
  }
}
