
// ==========================================================================
// Layout Builder Blocks
// ==========================================================================

// Spacing
// --------------------------------------------------------------------------

// General spacing between blocks inside a region.
.lb-block {
  & + .lb-block {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }
}

// General spacing between blocks inside a region, part 2.
// @todo: below block + block is needed cause not all layout builder blocks get lb-block classes at the moment?
.lb-section {
  .block + .block {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }
}

// Remove bottom margins of last direct child.
.lb-block {
  &__content {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}


// Equal blocks
// --------------------------------------------------------------------------

// @todo: Check if still relevant/used
.lb-block.equal {
  height: 100%;

  .lb-block__layout,
  .lb-block__content-wrapper,
  .lb-block__content {
    height: 100%;
  }
}


.theme--yellow_theme {
  isolation: isolate;

  //&::before {
  //  content: '';
  //  background-image: linear-gradient(to bottom, transparent 26vw, $drupalizer-yellow-5 26vw, $drupalizer-yellow-5 30vw, $drupalizer-yellow-6), url(../icons/curved-on-top-background-yellow.svg),;
  //  background-size: 100%;
  //  background-repeat: no-repeat;
  //  position: absolute;
  //  margin: 0 auto;
  //  background-position: top;
  //  z-index: -1;
  //  inset: 0;
  //  top: 8rem;
  //}

  .bt-title {
    color: $drupalizer-dark-blue-7;

    .bt-title__underline {
      svg {
        fill: $drupalizer-dark-blue-7;
      }
    }
  }

  .bt-banner {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.lb-section {
  position: relative;
  margin: var(--drupalizer__block-spacing, var(--drupalizer-lb__block-spacing)) 0;

  &__header {
    margin-bottom: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }

  &__column-wrapper {
    position: relative;

    > div:not(.column) {
      //height: 100%; // Show/Hide empty columns
      position: relative;
    }
  }

  &__footer {
    margin-top: var(--drupalizer__content-spacing, var(--drupalizer-lb__content-spacing));
  }

  &__header + &__footer {
    margin-top: 0;
  }

  .column {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: var(--drupalizer-lb__v-align);
  }

  // Banner display setting
  &.is-banner {

    // Remove gutter
    .flex-layout {
      margin-inline: 0;
      margin-bottom: 0;

      > * {
        padding: 0;
        margin-bottom: 0;
      }
    }

    &:not(.theme--transparent) {
      .column {
        padding: 0 !important;
      }
    }

    .block-inline-blocktext,
    .block-inline-blockcta {
      padding: clamp(1.5rem, 4vw, 3.75rem);
    }

    &.width--full {
      .block-inline-blocktext,
      .block-inline-blockcta {
        padding: clamp(1.5rem, 4vw, 5rem);
      }
    }

    .lb-block + .lb-block {
      padding-top: 0;
      margin-top: 0;
    }

    // Change border-radius
    .flex-layout,
    .lb-section__content-wrapper {
      border-radius: 1rem;
      overflow: hidden;
    }

    img {
      border-radius: 0 !important;
    }

    // Full width
    &.width--full {
      > .container {
        padding-inline: 0;
      }

      .flex-layout,
      .lb-section__content-wrapper {
        border-radius: 0;
        overflow: initial;
      }

      [class*='flex-layout--two-col'],
      [class*='flex-layout--three-col'] {
        &,
        .block-inline-blocktext,
        .block-inline-blockcta {
          max-width: 1800px;
          margin-inline: auto;
        }

        .block-inline-blocktext,
        .block-inline-blockcta {
          width: 100%;
        }
      }
    }
  }

  &.align-c--left {
    text-align: left;

    .column .lb-block__content,
    .lb-section__region .lb-block__content {
      text-align: left;
    }
  }

  &.align--center {
    .bt-title {
      width: fit-content;
      margin: 0 auto 2.5rem;
      text-align: center;

      @include bp(md) {
        margin: 0 auto;
      }
    }
  }

  &.align--right {
    .bt-title {
      width: fit-content;
      text-align: right;
      margin-right: 0;
      margin-left: auto;
    }
  }

  // Gradient after gradient yellow
  &.background--full.theme--yellow:not(.has-curved-background):not(.has-half-background) + .background--full.theme--yellow:not(.has-curved-background):not(.has-half-background) {
    background: $drupalizer-yellow-6;
  }

  // Gradient after gradient dark-blue
  &.background--full.theme--dark-blue:not(.has-curved-background):not(.has-half-background) + .background--full.theme--dark-blue:not(.has-curved-background):not(.has-half-background) {
    background: $drupalizer-dark-blue;
  }

  // Curved background option
  &.has-curved-background.background--full {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 7rem 0 0;
      mask-image: url(../icons/curved-on-top-mask.svg);
      mask-size: 180%;
      mask-position: left top;
      mask-repeat: no-repeat;

      @include bp(md) {
        mask-size: 100%;
        mask-position: center top;
      }
    }

    &:not(.theme--transparent).background--full {
      background: none;
    }

    // Changes for gradients
    &.theme--yellow {
      &::before {
        background-color: $drupalizer-yellow-5;
      }

      & + .theme--yellow.background--full:not(.has-half-background) {
        &,
        & + .theme--yellow.background--full:not(.has-half-background),
        & + .theme--yellow.background--full:not(.has-half-background) + .theme--yellow.background--full:not(.has-half-background),
        & + .theme--yellow.background--full:not(.has-half-background) + .theme--yellow.background--full:not(.has-half-background) + .theme--yellow.background--full:not(.has-half-background) {
          background: $drupalizer-yellow-5;
        }
      }
    }

    &.theme--dark-blue {
      &::before {
        background-color: $drupalizer-dark-blue-5;
      }

      & + .theme--dark-blue.background--full:not(.has-half-background) {
        &,
        & + .theme--dark-blue.background--full:not(.has-half-background),
        & + .theme--dark-blue.background--full:not(.has-half-background) + .theme--dark-blue.background--full:not(.has-half-background),
        & + .theme--dark-blue.background--full:not(.has-half-background) + .theme--dark-blue.background--full:not(.has-half-background) + .theme--dark-blue.background--full:not(.has-half-background) {
          background: $drupalizer-dark-blue-5;
        }
      }
    }

    // Changes for solid colors
    &.theme--blue {
      &::before {
        background-color: $drupalizer-blue;
      }
    }

    &.theme--bio {
      &::before {
        background-color: $drupalizer-bio;
      }
    }

    &.theme--gold {
      &::before {
        background-color: $drupalizer-yellow-7;
      }
    }

    &.theme--grey {
      &::before {
        background-color: $drupalizer-neutral-2;
      }
    }
  }

  // Half background option
  &.has-half-background.background--full {

    // Changes for gradients
    &.theme--yellow {
      background: linear-gradient(to bottom, $drupalizer-yellow-5, $drupalizer-yellow-6 50%, transparent 50%);
    }

    &.theme--dark-blue {
      background: linear-gradient(to bottom, $drupalizer-dark-blue-5, $drupalizer-dark-blue 50%, transparent 50%);
    }

    // Changes for solid colors
    &.theme--blue {
      background: linear-gradient(to bottom, $drupalizer-blue 50%, transparent 50%);
    }

    &.theme--bio {
      background: linear-gradient(to bottom, $drupalizer-bio 50%, transparent 50%);
    }

    &.theme--gold {
      background: linear-gradient(to bottom, $drupalizer-yellow-7 50%, transparent 50%);
    }

    &.theme--grey {
      background: linear-gradient(to bottom, $drupalizer-neutral-2 50%, transparent 50%);
    }
  }

  &.theme--yellow.background--full,
  &.theme--dark-blue.background--full {

    .lb-section__column-wrapper > div[class*=theme--] {
      //padding: 0;
    }

    .c-section-title,
    .bt-title {
      color: $drupalizer-dark-blue-7;

      svg {
        fill: $drupalizer-dark-blue-6;
      }
    }
  }
}

.layout-builder__section.theme--yellow + .layout-builder__add-section + .layout-builder__section.theme--yellow,
.layout-builder__section.theme--grey + .layout-builder__add-section + .layout-builder__section.theme--grey {
  .theme--yellow,
  .theme--grey {
    &:before {
      //background-image: none;
      //top: 0;
    }
  }

  .theme--yellow:not(.last-in-group) {
    &:before {
      //background-color: $drupalizer-yellow-5;
    }
  }

  .theme--grey:not(.last-in-group) {
    &:before {
      //background-color: $drupalizer-neutral-2;
    }
  }
}

.layout-builder__section.theme--yellow + .layout-builder__add-section + .layout-builder__section.theme--yellow,
.layout-builder__section.theme--grey + .layout-builder__add-section + .layout-builder__section.theme--grey {
  .theme--yellow.last-in-group,
  .theme--grey.last-in-group {
    &::before {
      //background-color: transparent;
      //top: 0;
    }
  }

  .theme--yellow.last-in-group {
    &::before {
      //background-image: linear-gradient(to bottom, $drupalizer-yellow-5, $drupalizer-yellow-6 50%, transparent 50%);
    }
  }

  .theme--grey.last-in-group {
    &::before {
      //background-image: linear-gradient(to bottom, $drupalizer-neutral-2, $drupalizer-neutral-3 50%, transparent 50%);
    }
  }
}

.lb-section {
  .column {
    &.padding--left {
      @include bp(md) {
        padding-left: calc(var(--drupalizer__gutter) * 2);
      }
    }

    &.padding--right {
      @include bp(md) {
        padding-right: calc(var(--drupalizer__gutter) * 2);
      }
    }
  }
}


// Vertical offset
.media-offset-v--outward {
  $shift-value: 2rem;

  margin-top: var(--drupalizer__block-spacing, var(--drupalizer-lb__block-spacing));

  [class*='flex-layout--three-col'] {
    padding-bottom: $shift-value;
  }

  .flex-layout--three-col--25-25-50 {
    .column-1 {
      transform: translateY($shift-value);
    }
  }

  .flex-layout--three-col--33-33-33 {
    .column-2 {
      transform: translateY($shift-value);
    }
  }

  .flex-layout--three-col--25-50-25 {
    .column-1,
    .column-3 {
      transform: translateY($shift-value);
    }
  }

  .flex-layout--three-col--50-25-25 {
    .column-3 {
      transform: translateY($shift-value);
    }
  }

  // Reset module theming
  .lb-section__column-wrapper {
    .column {
      .block-inline-blockimage:first-child {
        margin-top: 0;
      }
    }
  }
}
