.technology-terms {
  display: flex;
}

.vocabulary-technology {
  display: flex;
  align-items: center;
  margin-block-end: 1rem;
  margin-inline-end: 2rem;
  flex-direction: column;
  justify-content: flex-end;

  .icon {
    img {
      width: 40px;
    }
  }

  .label {
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }
}
