.view-locations-list {

  .views-exposed-form {
    .form--inline {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .form-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
    }

    label,
    .form-submit {
      margin: 0;
    }

    .form-select-wrapper {
      flex-grow: 1;
      width: clamp(16rem, 44vw, 36rem);
    }

    .form-select {
      width: 100%;
      max-width: none;
    }
  }
}
