{% extends "node.html.twig" %}

{% block node %}
  <div{{ attributes }}>
    {# Contextual links #}
    {{ title_prefix }}
    {{ title_suffix }}

    {% block header %}
    {% endblock header %}

    {% block content %}
      {{ content }}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

  </div>
{% endblock node %}
