{% extends "node.html.twig" %}

{% block before %}
  {%
    set classes = [
    'page-layout',
    node.field_hero_image.0 ? 'page-layout--hero' : 'page-layout--no-hero',
    node.bundle|clean_class,
    view_mode ? node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  ]
  %}

  {% set attributes = attributes.addClass(classes) %}
{% endblock before %}

{% block node %}
  <main{{ attributes.addClass(classes) }}>
    {% block header %}
      <header class="node__header">
        <h1 class="page-title">{{ node.label }}</h1>
      </header>
    {% endblock header %}

    {% block content %}
      {{ content }}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

  </main>
{% endblock node %}
