{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
{%
  set classes = [
  'profile',
  'profile-view',
  'container'
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="profile-view__col-1">
    {% if content %}
      {{- content -}}
    {% endif %}
  </div>
  <div class="profile-view__col-2">
    <div class="articles">
      <h3 class="view-label">{{ "Latest articles:"|trans }}</h3>
      {{ drupal_view('articles', 'block_user_articles') }}
    </div>
  </div>
</article>
