{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
  'field',
  'field__item',
  'field-project-url'
]
%}

<div{{ attributes.addClass(classes) }}>
  {% set file = active_theme_path() ~  '/icons/icon-external-link.svg' %}
  {% include file ignore missing %}

  {% for item in items %}
    <div class="label">{{ item.content }}</div>
  {% endfor %}
</div>
